extends ../layout/base
include ../mixins/video

block scripts
    script(src="/static/js/videoPlayer.js" defer)

block content
    div#videoContainer(data-id=video._id)
        video(src=`/${video.videoUrl}`) 
        div#videoControls.videoControls
            div 
                div.videoControls__time
                    input(type="range" min="0" value=0 step="1")#timeline
                    div 
                        span#currentTime 00 : 00
                        span    /  
                        span#totalTime 00 : 00
                        
            div.videoControls__sanse
                div.videoControls__column
                    div.videoControls__play 
                        span#play.videoControls__playBtn
                            i.fas.fa-play
                    div.videoControls__mute
                        span#mute.videoControls__muteBtn
                            i.fas.fa-volume-up
                        input(type="range" min="0" max="1" step="0.1" default="0.5")#volume
                div.videoControls__column 
                    span#fullScreen 
                        i.fas.fa-expand
            
    div 
        div.video__info
            h3.video__info-title=video.title
            div.video__info-meta 
                small.video__info-createdAt=video.createdAt
                span #{video.meta.views > 1? `${video.meta.views} views` : `${video.meta.views} view`}
            hr
            a(href=`/users/${video.owner._id}`) 
                div.video__info__user 
                    img(src=`/${video.owner.avatarUrl}`).video__info-avatar
                    div
                        span=video.owner.username
                
            p.video__info-description=video.description
            
    div 

    if String(video.owner._id) === String(loggedInUser._id)
        div.btn.video__btn
            a(href=`${video.id}/edit`) Edit Video
        div.btn.video__btn.delete
            a(href=`${video.id}/delete`) Delete Video