extends layout/base
include mixins/video

block content
    h2=video.title
    p=video.description
    h3 #{video.views < 2 ? `${video.views} view` : `${video.views} views`}
    a(href=`${video.id}/edit`) Edit Video &rarr; 